.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo > h1 {
  font-size: 30px;
  font-weight: bold;
}
