.form-control {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  text-align: center;
}

.form-control::placeholder {
  text-align: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #f2f2f2;
  color: #313131;
  font-weight: bold;
  border-width: 0cap;
}

.input-group-button {
  font-size: 19px;
  padding: 15px 42px;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  line-height: 1;
  color: #f2f2f2;
  background-color: #313131;
  border-color: #313131;
}

.input-group-button:hover {
  transform: scale(110%) rotate(-2deg);
  background-color: #00cc99;
  border-color: #00cc99;
  color: #313131;
}

.input-group-button:disabled {
  background-color: #b3b3b3;
  border-color: #b3b3b3;
  color: #cccccc;
}

.bi-star-fill {
  color: #ff8c1a;
  background-color: #f2f2f2;
}

.item-btn {
  background-color: #f2f2f2;
  color: #4d4d4d;
  border-width: 0cap;
}

.trash-btn:hover {
  color: #b03636;
}

.pencil-btn:hover {
  color: #313131;
}
